<!doctype html>
<html>
<head>
	<title>Disney World USA</title>
    <link rel="stylesheet" href="/styles/styles.css" type="text/css">
    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
    {{#each jsscripts}}
    <script src="/static/{{this}}"></script>
    {{/each}}
</head>
<body>
	{{{body}}}
</body>
</html>