<!doctype html>
<html>
<head>
	<title>Disney World USA</title>
    <link rel="stylesheet" href="/styles/style.css" type="text/css">
    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    {{#each jsscripts}}
    <script src="/static/scripts/{{this}}"></script>
    {{/each}}
</head>
<body>
	{{{body}}}
</body>
</html>